
<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-label position="stacked">Name</ion-label>
  <ion-input placeholder="Enter Name" ></ion-input>
  <ion-label position="stacked">Phone Number</ion-label>
  <ion-input placeholder="Enter phno "></ion-input>
  <ion-label position="stacked">Location</ion-label>
  <ion-input placeholder="Enter Location"></ion-input>
  <ion-list>
    <ion-radio-group value="grape">
      <ion-label>Subscriptions</ion-label>
      <ion-item>
        <ion-label>The Hindu</ion-label>
        <ion-radio slot="start" value="option1"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Times of India</ion-label>
        <ion-radio slot="start" value="option2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Chennai Times</ion-label>
        <ion-radio slot="start" value="option3"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Deccan chronicle</ion-label>
        <ion-radio slot="start" value="option4"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Indian Express</ion-label>
        <ion-radio slot="start" value="option5"></ion-radio>
      </ion-item>
      </ion-radio-group>
      </ion-list>
      
</ion-content>
