<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      News-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header style="margin-top: 90px;font-size:xx-large;">Login</ion-header><br/>
  <ion-card>
    <ion-card-content>
    <ion-label position="stacked">UserName</ion-label>
    <ion-input placeholder="Enter username" ></ion-input>
    <ion-label position="stacked">Password</ion-label>
    <ion-input placeholder="enter Password"></ion-input>
    <ion-button (click)="login()" style="margin-left:30px;">Login</ion-button>
  </ion-card-content>
  </ion-card>
  </ion-content>



 
