
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      News-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>NewsTime</ion-card-title>
      <ion-card-subtitle>Lets makes it easier</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img src="../../assets/image/news.jfif"><br>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods.
    </ion-card-content>
  </ion-card> 
 
  <ion-button (click)="go()" style="margin-left:80px;" > Go </ion-button>
</ion-content>
<ion-tab>
  <ion-tab-bar slot="bottom" color="primary">
    
<ion-tab-button tab="account">
  <ion-icon name="person" (click)= "account()" ></ion-icon> 
  <ion-label>Account</ion-label>
</ion-tab-button>
  
<ion-tab-button tab="subscribers">
    <ion-icon name="person-add" (click)= "go()"></ion-icon>
    <ion-label>subscribers</ion-label>
  </ion-tab-button>
   
  <ion-tab-button tab="payment">
      <ion-icon name="card" (click)="next()"></ion-icon> 
      <ion-label>payment</ion-label>
  </ion-tab-button>

</ion-tab-bar>
</ion-tab>

 