
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      News-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header style="margin-top: 90px;font-size:xx-large;">Login</ion-header><br/>
  <ion-card>
    <ion-card-content>
    <ion-label position="stacked">UserName</ion-label>
    <ion-input placeholder="Enter username" ></ion-input>
    <ion-label position="stacked">Password</ion-label>
    <ion-input placeholder="enter Password"></ion-input>
    <ion-button style="margin-left:30px;">Login</ion-button>
  </ion-card-content>
  </ion-card>
  </ion-content>

<ion-tab>
  <ion-tab-bar slot="bottom" color="primary">
    
<ion-tab-button tab="account">
  <ion-icon name="person" (click)= "account()" ></ion-icon> 
  <ion-label>Account</ion-label>
</ion-tab-button>
  
<ion-tab-button tab="subscribers">
    <ion-icon name="person-add" (click)= "go()"></ion-icon>
    <ion-label>subscribers</ion-label>
  </ion-tab-button>
   
  <ion-tab-button tab="payment">
      <ion-icon name="card" (click)="next()"></ion-icon> 
      <ion-label>payment</ion-label>
  </ion-tab-button>

</ion-tab-bar>
</ion-tab>

 