
<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  
  <ion-label position="stacked">Customer Name</ion-label>
  <ion-input placeholder="select customer" ></ion-input>
  <ion-label position="stacked">select month</ion-label>
  <ion-input placeholder="month "></ion-input>
  <ion-label position="stacked">Enter amount</ion-label>
  <ion-input placeholder="Amount"></ion-input> 
  <ion-button style="margin-left:30px;">confirm</ion-button>  
  </ion-card>
</ion-content>

<ion-tab>
  <ion-tab-bar slot="bottom" color="primary">
    
<ion-tab-button tab="account">
  <ion-icon name="remove-circle" ></ion-icon> 
</ion-tab-button>

<ion-tab-button tab="account">
  <ion-icon name="sync" ></ion-icon> 
</ion-tab-button>

<ion-tab-button tab="account">
  <ion-icon name="trash" ></ion-icon> 
</ion-tab-button>


</ion-tab-bar>
</ion-tab>